<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 编辑窗口 -->
	<div class="edit" id="show">
		<span>编辑窗口</span>
		<div class="edit-table">
			<table class="table-edit">	
		      	<tr>
		      		<td class="td1">学号</td>
		      		<td><input  class="form-control" ng-model="entity.id"></td>
		      	</tr>		      	
		      	<tr>
		      		<td class="td1">姓名</td>
		      		<td><input  class="form-control" ng-model="entity.name"> </td>
		      	</tr>
		      	<tr>
		      		<td class="td1">性别</td>
		      		<td><input  class="form-control" ng-model="entity.sex"> </td>
		      	</tr>
		      	<tr>
		      		<td class="td1">年龄</td>
		      		<td><input  class="form-control" ng-model="entity.age"> </td>
		      	</tr>
		      	<tr>
		      		<td class="td1">班级</td>
		      		<td><input  class="form-control" ng-model="entity.sClass"> </td>
		      	</tr>
		      	<tr>
		      		<td class="td1">总绩点</td>
		      		<td><input  class="form-control" ng-model="entity.count"> </td>
		      	</tr>		      	
			 </table>
		</div>
		<div class="edit-footer">						
<!-- 			<a href="#" class="btn-success"data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</a> -->
			<button class="btn-success"data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
<!-- 			<input type="button" class="btn-close" onclick="close()"  value="删除"> -->
			<button  class="btn-close" id="close" onclick="close()">关闭</button>
		</div>
	</div>
</body>
</html>