<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.mapper.announcementMapper">
  <resultMap id="BaseResultMap" type="com.st.domain.announcement">
    <result column="aname" jdbcType="VARCHAR" property="aname" />
    <result column="deparment" jdbcType="VARCHAR" property="deparment" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
    <result column="person" jdbcType="VARCHAR" property="person" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aname, deparment, kind, person
  </sql>
  <select id="selectByExample" parameterType="com.st.domain.announcementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from announcement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.st.domain.announcementExample">
    delete from announcement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.st.domain.announcement">
    insert into announcement (aname, deparment, kind, 
      person)
    values (#{aname,jdbcType=VARCHAR}, #{deparment,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, 
      #{person,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.st.domain.announcement">
    insert into announcement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aname != null">
        aname,
      </if>
      <if test="deparment != null">
        deparment,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="person != null">
        person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aname != null">
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="deparment != null">
        #{deparment,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="person != null">
        #{person,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.st.domain.announcementExample" resultType="java.lang.Long">
    select count(*) from announcement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update announcement
    <set>
      <if test="record.aname != null">
        aname = #{record.aname,jdbcType=VARCHAR},
      </if>
      <if test="record.deparment != null">
        deparment = #{record.deparment,jdbcType=VARCHAR},
      </if>
      <if test="record.kind != null">
        kind = #{record.kind,jdbcType=VARCHAR},
      </if>
      <if test="record.person != null">
        person = #{record.person,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update announcement
    set aname = #{record.aname,jdbcType=VARCHAR},
      deparment = #{record.deparment,jdbcType=VARCHAR},
      kind = #{record.kind,jdbcType=VARCHAR},
      person = #{record.person,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
</mapper>